{%extends 'index.html'%} {% block content %}
<main class="cadastro">
    <form action="/usuarios/create" method="POST">
        <h4> Cadastro de Usuário </h4>
        <input type="text" placeholder="Nome" id="nome" name="nome" class="campos-texto">
        <input type="text" placeholder="Email" id="email" name="email" class="campos-texto">
        <input type="date" placeholder="Data de Nascimento" id="DT_Nasc" name="DT_Nasc" class="campos-texto">
        <input type="text" placeholder="Senha" id="senha" name="senha" class="campos-texto">
        <input type="text" placeholder="Confirme sua senha" id="Conf_senha" name="Conf_senha" class="campos-texto">
        <button type="submit" class="botao-claro"> Cadastrar </button>
        <button type="submit" class="botao-claro" href="/home"> Ir para tela inicial </button>
        <button type="submit" class="botao-claro" href="/login"> Fazer login </button>
    </form>
</main>
{% endblock %}
<!-- depois que o usuário tiver se cadastrado o local escrito "cadastro" encima deve sumir e dar lugar a uma barr-->
<!--a de pesquisa com filtro-->