{%extends 'index.html'%}
{% block content %}
<main class="cadastro">
    <form action="/usuarios/create" method="POST">
        <h4> Cadastro de usuario </h4>
        <input type="text" placeholder="Nome" id="nome" name="nome" class="campos-texto">
        <input type="text" placeholder="Email" id="email" name="email" class="campos-texto">
        <input type="text" placeholder="Senha" id="senha" name="senha" class="campos-texto">
        <input type="text" placeholder="Confirmar senha" id="confirmasenha" name="confirmasenha" class="campos-texto">
        <button type="submit" class="botao-claro"> Cadastrar </button>
    </form>
</main>
{% endblock %}
