{%extends 'index.html'%} {% block content %}
<main class="main">

    <body>
        <main class="mb-4">
            <div class="container">
                <div class="row gx-4 gx-lg-5 ">
                    <div class="problem-1">
                        <h4> Meu problema ocorreu com uma entrega que veio danificada </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
                    </div>
                    <div class="problem-2">

                    </div>
                </div>
                <div>
                    <div class="campo_forum">
                        <label for="nome_prob">Dê um título para o problema:</label>
                        <p><input type="text" id="nome_prob" name="nome_prob" style=" width: 20em " value=" "></p>
                    </div>
                    <div class="campo_forum">
                        <label for="problema">Problema:</label>
                        <p> <textarea rows="6" style="width: 20em " id="mensagem " name="mensagem "></textarea></p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js "></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js "></script>
    </body>
</main>

{% endblock %}