{%extends 'index.html'%} {% block content %}
<main class="main">
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h3 class="post-title">Códigos de leis do direito do consumidor completo</h3>
                        <h4 class="post-subtitle">Aqui você vai encontrar o arquivo e algumas indicações sobre os direitos do consumidor</h4>
                    </a>
                    <p class="post-meta">o código é...
                    </p>
                    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                <div class="modal-body text-center pb-5">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <!-- Portfolio Modal - Title-->
                                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                                                <!-- Icon Divider-->
                                                <div class="divider-custom">
                                                    <div class="divider-custom-line"></div>
                                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                    <div class="divider-custom-line"></div>
                                                </div>
                                                <!-- Portfolio Modal - Image-->
                                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="..." />
                                                <!-- Portfolio Modal - Text-->
                                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos
                                                    quod consequuntur itaque. Nam.</p>
                                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                                    <i class="fas fa-xmark fa-fw"></i>
                                                    Close Window
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h3 class="post-title">Códigos de leis do direito do consumidor completo</h3>
                        <h4 class="post-subtitle">Aqui você vai encontrar o arquivo e algumas indicações sobre os direitos do consumidor</h4>
                    </a>
                    <p class="post-meta">o código é...
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h3 class="post-title">Códigos de leis do direito do consumidor completo</h3>
                        <h4 class="post-subtitle">Aqui você vai encontrar o arquivo e algumas indicações sobre os direitos do consumidor</h4>
                    </a>
                    <p class="post-meta">o código é...
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h3 class="post-title">Códigos de leis do direito do consumidor completo</h3>
                        <h4 class="post-subtitle">Aqui você vai encontrar o arquivo e algumas indicações sobre os direitos do consumidor</h4>
                    </a>
                    <p class="post-meta">o código é...
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Mais postagens... →</a></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}